/* Google fonts: Cairo */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&display=swap');

/* Variables */
:root {
    --main-font-family: 'Cairo', Arial, Helvetica, sans-serif;
    --main-color: #2196f3;
    --main-color-alt: #1787e0;
    --section-bg-color: #ececec;
    --main-bg-color: #fafafa;
    --sec-txt-color: #777;
    --main-trans-duration: 0.3s;
    --section-padding: 100px;
}
/* / Variables */

/* Global rules */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: var(--main-font-family, Arial, Helvetica);
}
a {
    text-decoration: none;
    color: initial;
}
ul {
    list-style: none;
}
button,
input[type="submit"] {
    cursor: pointer;
}
.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* / Global rules */

/* Components */
h1.main-title {
    width: fit-content;
    margin: 0 auto 80px;
    padding: 10px 20px;
    position: relative;
    font-size: 30px;
    text-transform: uppercase;
    border: 2px solid black;
    transition-duration: var(--main-trans-duration, 0.3s);
    isolation: isolate;
}
h1.main-title:hover {
    color: white;
    border-color: transparent;
    transition-duration: var(--main-trans-duration, 0.3s);
    transition-delay: 0.5s;
}
h1.main-title::before,
h1.main-title::after {
    content: "";
    width: 12px;
    height: 12px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
    border-radius: 50%;
    background-color: var(--main-color, #2196f3);
    transition-duration: var(--main-trans-duration, 0.3s);
}
h1.main-title::before {
    left: -30px;
}
h1.main-title::after {
    right: -30px;
}
h1.main-title:hover::before,
h1.main-title:hover::after {
    animation: expansion 0.5s linear forwards;
}
h1.main-title:hover::before {
    left: 0;
}
h1.main-title:hover::after {
    right: 0;
}
.dots {
    width: 204px;
    height: 186px;
    position: absolute;
    background-image: url(../images/dots.png);
}
.dots-up {
    top: 200px;
    right: 0;
}
.dots-down {
    bottom: 200px;
    left: 0;
}
/* / Components */

/* Keyframes */
@keyframes up-down {
    0% {transform: translateY(-10%);}
    100% {transform: translateY(10%);}
}
@keyframes bouncing {
    0%,
    10%,
    20%,
    50%,
    80%,
    100% {
      transform: translateY(0);
    }
    40%,
    60% {
      transform: translateY(-15px);
    }
}
@keyframes expansion {
    to {
        border-radius: 0;
        width: 50%;
        height: 100%;
    }
}
@keyframes right-move {
    to {right: 10px;}
}
@keyframes flashing {
    0%,
    40% {opacity: 1;}
    100% {
        width: 200%;
        height: 200%;
        opacity: 0;
    }
}
@keyframes change-background {
    to {
        background-image: url(../images/discount-background2.jpg);
    }
}
/* / Keyframes */

/* Header */
header {
    min-height: 72px;
    box-shadow: 0 0px 16px -5px rgba(0, 0, 0, 0.2);
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
@media (max-width: 767px) {
    header .container {
        flex-direction: column;
    }
    header .container .logo {
        margin: 20px 0;
    }
}
header .container .logo a {
    font-size: 26px;
    font-weight: 700;
    color: var(--main-color, #2196f3);
    transition-property: color;
    transition-duration: var(--main-trans-duration, 0.3s);
}
header .container .logo a:hover {
    color: var(--main-color-alt, #1787e0);
}
header .container > ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
header .container > ul > li > a {
    height: 72px;
    padding: 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 18px;
    overflow: hidden;
    transition-property: color, background-color;
    transition-duration: var(--main-trans-duration, 0.3s);
}
@media (max-width: 767px) {
    header .container > ul > li > a {
        padding: 0 15px;
    }
}
header .container > ul > li > a:hover {
    color: var(--main-color, #2196f3);
    background-color: var(--main-bg-color, #fafafa);
}
header .container > ul > li > a::before {
    content: "";
    width: 100%;
    height: 4px;
    position: absolute;
    top: 0;
    left: -100%;
    background-color: var(--main-color, #2196f3);
    transition-property: left;
    transition-duration: var(--main-trans-duration, 0.3s);
}
header .container > ul > li > a:hover::before {
    left: 0;
}
header .container .mega-menu {
    display: flex;
    width: 100%;
    padding: 30px;
    position: absolute;
    top: calc(100% + 50px);
    left: 0;
    z-index: -1;
    background-color: white;
    border-bottom: 3px solid var(--main-color, #2196f3);
    opacity: 0;
    transition-property: opacity, top;
    transition-duration: var(--main-trans-duration, 0.3s);
    gap: 50px;
}
header .container > ul > li:last-child:hover > a + .mega-menu {
    opacity: 1;
    top: calc(100% + 1px);
    z-index: 100;
}
header .container .mega-menu .image img {
    max-width: 100%;
}
@media (max-width: 767px) {
    header .container .mega-menu .image {
        display: none;
    }
}
header .container .mega-menu .links li {
    position: relative;
    overflow: hidden;
}
header .container .mega-menu .links li:not(:last-child) {
    border-bottom: 1px solid var(--section-bg-color, #cecece);
}
header .container .mega-menu .links li::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    background-color: var(--main-bg-color, #fafafa);
    z-index: -1;
    transition-property: left;
    transition-duration: var(--main-trans-duration, 0.3s);
}
header .container .mega-menu .links li:hover::before {
    left: 0;
}
header .container .mega-menu .links li a {
    width: 100%;
    padding: 15px 20px;
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    color: var(--main-color, #2196f3);
}
header .container .mega-menu .links li a i {
    margin-right: 10px;
}
/* / Header */

/* Landing */
.landing {
    height: calc(100vh - 72px);
    padding-top: var(--section-padding, 100px);
    padding-bottom: var(--section-padding, 100px);
    position: relative;
    overflow: hidden;
}
.landing::before {
    content: "";
    width: 100%;
    height: 120%;
    position: absolute;
    top: -245px;
    left: 0;
    z-index: -1;
    background-color: var(--section-bg-color, #ececec);
    transform: skewY(-5deg);
}
.landing .container > a::after {
    content: '\f103';
    font-family: 'font awesome 6 free';
    font-size: 30px;
    font-weight: 900;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    color: var(--main-color, #2196f3);
    animation: bouncing 1.5s infinite;
}
.landing .container {
    height: 100%;
    padding-bottom: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.landing .container .landing-text {
    flex-basis: 45%;
    line-height: 1.6;
}
.landing .container .landing-text h1 {
    margin: 0;
    font-size: 40px;
    text-transform: capitalize;
}
.landing .container .landing-text p {
    max-width: 500px;
    margin: 10px auto 0;
    font-size: 24px;
    font-weight: 500;
    color: var(--sec-txt-color, #666);
}
.landing .container .landing-image {
    flex-basis: 55%;
}
@media (max-width: 991px) {
    .landing .container .landing-text {
        flex-basis: 100%;
    }
    .landing .container .landing-image {
        display: none;
    }
}
.landing .container .landing-image img {
    width: 100%;
    animation: up-down 5s linear infinite alternate;
    position: relative;
    z-index: 1;
}
/* Landing */

/* Articles */
.articles {
    padding-top: var(--section-padding, 100px);
    padding-bottom: var(--section-padding, 100px);
}
.articles .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}
.articles .cards .card {
    border-radius: 10px;
    box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
    overflow: hidden;
    transition: var(--main-trans-duration, 0.3s);
}
.articles .cards .card:hover {
    transform: translateY(-10px);
}
.articles .cards .card img {
    width: 100%;
}
.articles .cards .card .text {
    padding: 20px;
    border-bottom: 1px solid var(--section-bg-color, #ececec);
}
.articles .cards .card .text h3 {
    margin-bottom: 10px;
    font-size: 23px;
}
.articles .cards .card .text p {
    line-height: 1.5;
    color: var(--sec-txt-color, #666);
}
.articles .cards .card .info {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    color: var(--main-color, #2196f3);
    transition: var(--main-trans-duration, 0.3s);
}
.articles .cards .card:hover .info {
    color: var(--main-color-alt, #1787e0);
}
.articles .cards .card .info a {
    font-weight: 700;
    color: inherit;
}
.articles .cards .card .info i {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
.articles .cards .card:hover .info i {
    animation-name: right-move;
    animation-duration: 0.6s;
    animation-iteration-count: infinite;
}
/* / Articles */

/* Gallery */
.gallery {
    padding-top: var(--section-padding, 100px);
    padding-bottom: var(--section-padding, 100px);
    background-color: var(--section-bg-color, #ececec);
}
.gallery .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}
.gallery .container .box {
    position: relative;
    border: 20px solid white;
    overflow: hidden;
}
.gallery .container .box img {
    width: 100%;
    transition-property: transform;
    transition-duration: var(--main-trans-duration, 0.3s);
}
.gallery .container .box:hover img {
    transform: rotate(5deg) scale(1.1);
}
.gallery .container .box::after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.3);
}
.gallery .container .box:hover::after {
    animation: flashing 0.7s;
}
/* / Gallery */

/* Features */
.features {
    padding-top: var(--section-padding, 100px);
    padding-bottom: var(--section-padding, 100px);
}
.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}
.features .container .feat {
    border: 1px solid #ccc;
}
.features .container .feat .img {
    position: relative;
    overflow: hidden;
}
.features .container .feat .img img {
    width: 100%;
}
.features .container .feat .img::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    border-style: solid;
    border-width: 0 0 170px 500px;
    border-color: transparent transparent white transparent;
    transition-property: border-width, border-color;
    transition-duration: var(--main-trans-duration, 0.3s);
}
.features .container .feat:hover .img::after {
    border-width: 0 500px 170px 0;
    border-color: transparent transparent white transparent;
}
.features .container .feat .img::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.features .container .feat:first-child .img::before {
    background-color: rgba(244, 64, 54, 0.5);
}
.features .container .feat:nth-child(2) .img::before {
    background-color: rgba(0, 150, 136, 0.5);
}
.features .container .feat:last-child .img::before {
    background-color: rgba(3, 169, 244, 0.5);
}
.features .container .feat .text {
    padding: 30px;
    text-align: center;
}
.features .container .feat .text h1 {
    margin: 0;
}
.features .container .feat .text p {
    margin: 30px 0;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.8;
    color: var(--sec-txt-color, #666);
}
.features .container .feat .text button {
    padding: 10px 25px;
    position: relative;
    font-size: 18px;
    font-weight: 700;
    border: 3px solid;
    border-radius: 5px;
    background-color: transparent;
    overflow: hidden;
    transition-property: color;
    transition-duration: var(--main-trans-duration, 0.3s);
}
.features .container .feat .text button:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    z-index: -1;
    transition-property: left;
    transition-duration: var(--main-trans-duration, 0.3s);
}
.features .container .feat:hover .text button::before {
    left: 0;
}
.features .container .feat:first-child .text button {
    border-color: #f44036;
    color: #f44036;
}
.features .container .feat:nth-child(2) .text button {
    border-color: #009688;
    color: #009688;
}
.features .container .feat:last-child .text button {
    border-color: #03a9f4;
    color: #03a9f4;
}
.features .container .feat:hover .text button {
    color: white;
}
.features .container .feat:first-child .text button::before {
    background-color: #f44036;
}
.features .container .feat:nth-child(2) .text button::before {
    background-color: #009688;
}
.features .container .feat:last-child .text button::before {
    background-color: #03a9f4;
}
/* / Features */

/* Testimonails */
.testimonials {
    padding-top: var(--section-padding, 100px);
    padding-bottom: var(--section-padding, 100px);
    background-color: var(--section-bg-color, #ececec);
}
.testimonials .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 50px 40px;
}
.testimonials .container .box {
    padding: 20px;
    position: relative;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 8px 10px -5px rgba(0, 0, 0, 0.1);
}
.testimonials .container .box img {
    width: 90px;
    height: 90px;
    position: absolute;
    top: -45px;
    right: -10px;
    border: 10px solid var(--section-bg-color, #ececec);
    border-top-color: transparent;
    border-radius: 50%;
}
.testimonials .container .box .text h3 {
    margin-bottom: 10px;
}
.testimonials .container .box .text .job {
    font-weight: 400;
    color: var(--sec-txt-color, #666);
}
.testimonials .container .box .text .rate {
    margin: 10px 0;
}
.testimonials .container .box .text .rate i {
    color: #ffc107;
}
.testimonials .container .box .text .comment {
    line-height: 1.6;
    color: var(--sec-txt-color, #666);
}
/* / Testimonails */

/* Team members */
.team-members {
    padding-top: var(--section-padding, 100px);
    padding-bottom: var(--section-padding, 100px);
}
.team-members .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}
.team-members .container .member {
    padding-top: 60px;
    position: relative;
}
.team-members .container .member::before {
    content: "";
    width: 84%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -2;
    border-radius: 10px;
    background-color: #f3f3f3;
}
.team-members .container .member::after {
    content: "";
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    border-radius: 10px;
    background-color: #e4e4e4;
    transition-property: width;
    transition-duration: var(--main-trans-duration, 0.3s);
}
.team-members .container .member:hover::after {
    width: 84%;
}
.team-members .container .member .data {
    display: flex;
    align-items: center;
}
.team-members .container .member .data img {
    width: 84%;
    border-radius: 10px;
    transition-property: filter;
    transition-duration: var(--main-trans-duration, 0.3s);
}
.team-members .container .member:hover .data img {
    filter: grayscale(1);
}
.team-members .container .member .data .social {
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.team-members .container .member .data .social a {
    width: 60px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.team-members .container .member .data .social a i {
    color: #777;
    transition-property: color;
    transition-duration: var(--main-trans-duration, 0.3s);
}
.team-members .container .member .data .social a:hover i {
    color: var(--main-color, #2196f3);
}
.team-members .container .member .text {
    margin: 20px 0 20px 80px;
}
.team-members .container .member .text h3 {
    margin: 10px 0;
    font-size: 20px;
    color: var(--main-color, #2196f3);
}
/* / Team members */

/* Services */
.services {
    padding-top: var(--section-padding, 100px);
    padding-bottom: var(--section-padding, 100px);
    background-color: var(--section-bg-color, #cecece);
}
.services .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}
.services .container .service {
    position: relative;
    text-align: center;
    background-color: white;
    box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.1);
    transition-property: transform;
    transition-duration: var(--main-trans-duration, 0.3s);
}
.services .container .service:hover {
    transform: translateY(-10px);
}
.services .container .service::before {
    content: "";
    height: 3px;
    width: 0;
    position: absolute;
    top: -3px;
    left: 50%;
    background-color: var(--main-color, #2196f3);
    transform: translateX(-50%);
    transition-property: width;
    transition-duration: var(--main-trans-duration, 0.3s);
}
.services .container .service:hover::before {
    width: 100%;
}
.services .container .service i {
    margin: 30px 0 20px;
    font-size: 60px;
    color: #d5d5d5;
}
.services .container .service h3 {
    margin: 0 0 30px;
    font-size: 24px;
    color: var(--main-color, #2196f3);
}
.services .container .service .info {
    padding: 15px;
    position: relative;
    text-align: right;
    background-color: #f9f9f9;
}
.services .container .service .info a {
    color: var(--main-color, #2196f3);
    transition-property: color;
    transition-duration: var(--main-trans-duration, 0.3s);
}
.services .container .service .info a:hover {
    color: var(--main-color-alt, #1787e0);
}
.services .container .service .info::before {
    content: attr(data-count);
    height: 100%;
    width: 80px;
    padding-right: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 28px;
    font-weight: 700;
    background-color: var(--main-color, #2196f3);
    color: white;
}
.services .container .service .info::after {
    content: "";
    height: 100%;
    width: 50px;
    position: absolute;
    top: 0;
    left: 80px;
    z-index: 1;
    transform: skewX(-30deg);
    background-color: #d5d5d5;
}
/* / Services */

/* Skills */
.skills {
    padding-top: var(--section-padding, 100px);
    padding-bottom: var(--section-padding, 100px);
}
.skills .container {
    display: flex;
}
@media (max-width: 991px) {
    .skills .container img {
        display: none;
    }
}
.skills .container .skill-bars {
    flex-grow: 1;
}
.skills .container .skill-bars .bar h3 {
    margin: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}
.skills .container .skill-bars .bar h3 span {
    padding: 5px 8px;
    font-size: 14px;
    font-weight: 700;
    border: 1.5px solid #ccc;
    border-radius: 5px;
    color: var(--main-color, #2196f3);
}
.skills .container .skill-bars .bar .progress {
    width: 100%;
    height: 30px;
    background-color: #eee;
}
.skills .container .skill-bars .bar .progress span {
    height: 100%;
    display: inline-block;
    position: relative;
    z-index: 1;
    background-color: var(--main-color, #2196f3);
}
/* / Skills */

/* Work steps */
.work-steps {
    padding-top: var(--section-padding, 100px);
    padding-bottom: var(--section-padding, 100px);
    background-color: var(--section-bg-color, #ececec);
}
.work-steps .container {
    display: flex;
    align-items: center;
    column-gap: 100px;
}
@media (max-width: 991px) {
    .work-steps .container {
        flex-direction: column;
        justify-content: center;
    }
}
.work-steps .container .steps {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
}
.work-steps .container .steps .box {
    padding: 30px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 0;
    border: 2px solid white;
    border-radius: 5px;
    background-color: #f6f5f5;
}
.work-steps .container .steps .box::before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
    background-color: #ededed;
    transition-property: width, height;
    transition-duration: var(--main-trans-duration, 0.3s);
}
.work-steps .container .steps .box:hover::before {
    width: 100%;
    height: 100%;
}
.work-steps .container .steps .box img {
    width: 60px;
    margin-right: 30px;
}
.work-steps .container .steps .box .text h3 {
    margin-bottom: 10px;
    font-size: 22px;
}
.work-steps .container .steps .box .text p {
    line-height: 1.6;
    font-size: 18px;
    color: var(--sec-txt-color, #666);
}
/* / Work steps */

/* Events */
.events {
    padding-top: var(--section-padding, 100px);
    padding-bottom: var(--section-padding, 100px);
    position: relative;
}
.events .container {
    margin-bottom: 80px;
    display: flex;
    align-items: center;
}
.events .container > img {
    width: 450px;
}
.events .container .info {
    margin-bottom: 50px;
    flex-grow: 1;
    text-align: center;
}
.events .container .info .counter {
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
}
.events .container .info .counter .unit {
    margin-right: 5px;
    margin-left: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition-property: border-color;
    transition-duration: var(--main-trans-duration, 0.3s);
}
.events .container .info .counter .unit:hover {
    border-color: var(--main-color, #2196f3);
}
.events .container .info .counter .unit span {
    display: block;
}
.events .container .info .counter .unit span:first-child {
    padding: 15px 20px;
    font-size: 38px;
    font-weight: 700;
    color: var(--main-color, #2196f3);
}
.events .container .info .counter .unit span:last-child {
    padding: 10px 0;
    font-size: 14px;
    border-top: 1px solid #ccc;
    transition-property: border-top-color;
    transition-duration: var(--main-trans-duration, 0.3s);
}
.events .container .info .counter .unit:hover span:last-child {
    border-top-color: var(--main-color, #2196f3);
}
.events .container .info p {
    line-height: 1.6;
    font-size: 18px;
    color: var(--sec-txt-color, #777);
}
.events form {
    width: fit-content;
    margin: 0 auto;
    padding: 30px 40px;
    display: flex;
    border-radius: 50px;
    background-color: #f6f5f5;
}
.events form input {
    padding: 20px;
    border: none;
    border-radius: inherit;
}
.events form input[type="email"] {
    width: 380px;
    margin-right: 20px;
    caret-color: var(--main-color, #2196f3);
}
.events form input[type="email"]:focus {
    outline: none;
}
.events form input[type="email"]:focus::placeholder {
    color: transparent;
}
.events form input[type="submit"] {
    font-weight: 700;
    background-color: var(--main-color, #2196f3);
    color: white;
    transition-property: background-color;
    transition-duration: var(--main-trans-duration, 0.3s);
}
.events form input[type="submit"]:hover {
    background-color: var(--main-color-alt, #1787e0);
}
/* / Events */

/* Pricing */
.pricing {
    padding-top: var(--section-padding, 100px);
    padding-bottom: var(--section-padding, 100px);
    position: relative;
    background-color: var(--section-bg-color, #ececec);
}
.pricing .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}
.pricing .container .plan {
    padding: 36px 0;
    position: relative;
    text-align: center;
    background-color: white;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    isolation: isolate;
}
@media (min-width: 1200px) {
    .pricing .container .plan:nth-child(2) {
        transform: translateY(-10px);
    }
}
.pricing .container .plan:nth-child(2) label {
    width: 40px;
    padding: 10px 10px 30px;
    position: absolute;
    top: 0;
    right: 20px;
    writing-mode: vertical-lr;
    font-size: 18px;
    font-weight: 700;
    background-color: var(--main-color);
    color: white;
}
.pricing .container .plan:nth-child(2) label::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    border-style: solid;
    border-width: 20px;
    border-color: transparent transparent white transparent;
}
.pricing .container .plan::before,
.pricing .container .plan::after {
    content: "";
    width: 0;
    height: 50%;
    position: absolute;
    z-index: -1;
    background-color: #f6f6f6;
    transition-property: width;
    transition-duration: var(--main-trans-duration, 0.3s);
}
.pricing .container .plan::before {
    top: 0;
    left: 0;
}
.pricing .container .plan::after {
    bottom: 0;
    right: 0;
}
.pricing .container .plan:hover::before,
.pricing .container .plan:hover::after {
    width: 100%;
}
.pricing .container .plan img {
    width: 80px;
    margin: 30px 0;
}
.pricing .container .plan span {
    display: block;
}
.pricing .container .plan .price {
    font-size: 60px;
    font-weight: 700;
    color: var(--main-color, #2196f3);
}
.pricing .container .plan .billing-period {
    margin: 5px 0 20px;
    color: var(--sec-txt-color, #777);
}
.pricing .container .plan ul {
    margin-bottom: 30px;
}
.pricing .container .plan ul li {
    padding: 20px;
    border-top: 1px solid #eee;
    text-align: left;
}
.pricing .container .plan ul li::before {
    margin-right: 20px;
    font-family: 'font awesome 6 free';
    content: '\f00c';
    font-weight: 900;
    color: var(--main-color, #2196f3);
}
.pricing .container .plan button {
    padding: 15px 20px;
    font-weight: 700;
    border: 2px solid var(--main-color, #2196f3);
    border-radius: 5px;
    background-color: white;
    color: var(--main-color, #2196f3);
    transition-property: color, background-color;
    transition-duration: var(--main-trans-duration, 0.3s);
}
.pricing .container .plan button:hover {
    background-color: var(--main-color, #2196f3);
    color: white;
}
/* / Pricing */

/* Videos */
.videos {
    padding-top: var(--section-padding, 100px);
    padding-bottom: var(--section-padding, 100px);
}
.videos .container .holder {
    display: flex;
    justify-content: center;
    border: 1px solid #ddd;
}
.videos .container .timeline {
    min-width: 300px;
}
.videos .container .timeline .name {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-color: #f4f4f4;
}
.videos .container .timeline ul li {
    padding: 20px;
    border-top: 1px solid #ececec;
    transition-property: background-color;
    transition-duration: var(--main-trans-duration, 0.3s);
    cursor: pointer;
}
.videos .container .timeline ul li:hover {
    background-color: #fafafa;
}
.videos .container .timeline ul li .chapter {
    margin-bottom: 10px;
    transition-property: color;
    transition-duration: var(--main-trans-duration, 0.3s);
}
.videos .container .timeline ul li:hover .chapter {
    color: var(--main-color, #2196f3);
}
.videos .container .timeline ul li .timing {
    color: var(--sec-txt-color, #777);
}
.videos .container .preview {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    background-color: #e2e2e2;
}
.videos .container .preview img {
    width: 100%;
}
.videos .container .preview .info {
    padding: 20px;
    background-color: white;
}
/* / Videos */

/* Stats */
.stats {
    padding-top: var(--section-padding, 100px);
    padding-bottom: var(--section-padding, 100px);
    position: relative;
    background-image: url(../images/stats.jpg);
    background-size: cover;
    min-height: 300px;
    isolation: isolate;
}
.stats::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: rgba(255, 255, 255, 0.95);
}
.stats > h1 {
    margin: 0 0 50px 0;
    text-align: center;
}
.stats .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}
.stats .container .box {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: white;
}
.stats .container .box::before,
.stats .container .box::after {
    content: "";
    height: 0;
    width: 1.5px;
    position: absolute;
    background-color: var(--main-color, #2196f3);
    transition-property: height;
    transition-duration: 0.5s;
}
.stats .container .box::before {
    bottom: 0;
    left: 0;
}
.stats .container .box::after {
    top: 0;
    right: 0;
}
.stats .container .box:hover::before,
.stats .container .box:hover::after {
    height: 100%;
}
.stats .container .box i {
    font-size: 34px;
}
.stats .container .box .number {
    margin: 10px 0;
    font-size: 50px;
    font-weight: 700;
}
.stats .container .box .text {
    font-size: 20px;
    font-style: italic;
    font-weight: 700;
    color: var(--main-color, #2196f3);
}
/* / Stats */

/* Discount */
.discount {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
}
.discount > div {
    padding-top: calc(var(--section-padding, 100px) / 2);
    padding-bottom: calc(var(--section-padding, 100px) / 2);
    flex-basis: 50%;
    text-align: center;
}
.discount > div h1 {
    font-size: 40px;
}
.discount .have-discount {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    isolation: isolate;
    background-image: url(../images/discount-background1.jpg);
    color: white;
    animation: change-background 10s infinite;
}
.discount .have-discount::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: rgba(33, 150, 243, 0.95);
}
.discount .have-discount .content {
    max-width: 500px;
}
.discount .have-discount .content p {
    font-size: 18px;
    line-height: 1.6;
}
.discount .have-discount img {
    width: 300px;
    margin-top: 50px;
}
.discount .request {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.discount .request form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.discount .request form input,
.discount .request form textarea {
    width: 300px;
    margin-bottom: 25px;
    padding: 15px 20px;
    border: none;
    border-bottom: 1px solid #ccc;
    caret-color: var(--main-color, #2196f3);
    background-color: #f9f9f9;
}
.discount .request form textarea {
    height: 200px;
    resize: none;
}
.discount .request form input:focus,
.discount .request form textarea:focus {
    outline: none;
}
.discount .request form input[type="submit"] {
    font-size: 20px;
    font-weight: 700;
    border: none;
    background-color: var(--main-color, #2196f3);
    color: white;
    transition-property: background-color;
    transition-duration: var(--main-trans-duration, 0.3s);
}
.discount .request form input[type="submit"]:hover {
    background-color: var(--main-color-alt, #1787e0);
}
/* / Discount */

/* Footer */
footer {
    padding-top: calc(var(--section-padding, 100px) / 2);
    background-color: #191919;
    color: #b9b9b9;
}
footer .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}
footer .container .social h1 {
    margin: 0;
    font-size: 50px;
    color: white;
}
footer .container .social ul {
    margin: 20px 0;
    display: flex;
    align-items: center;
}
footer .container .social ul li {
    margin-right: 10px;
}
footer .container .links li:not(:last-child) {
    border-bottom: 1px solid #444;
}
footer .container .social ul li a {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #313131;
    color: #b9b9b9;
    transition-property: background-color;
    transition-duration: var(--main-trans-duration, 0.3s);
}
footer .container .social ul li:first-child a:hover,
footer .container .social ul li:last-child a:hover {
    background-color: black;
}
footer .container .social ul li:nth-child(2) a:hover {
    background-color: #0A66C2;
}
footer .container .social ul li a i {
    font-size: 30px;
    transition-property: color;
    transition-duration: var(--main-trans-duration, 0.3s);
}
footer .container .social ul li a:hover i {
    color: white;
}
footer .container .social p {
    line-height: 1.6;
}
footer .container .links li a {
    padding: 15px 0;
    display: inline-block;
    color: inherit;
    transition-property: color, transform;
    transition-duration: var(--main-trans-duration, 0.3s);
}
footer .container .links li a::before {
    margin-right: 10px;
    font-family: 'font awesome 6 free';
    content: '\f101';
    font-weight: 900;
    color: var(--main-color, #2196f3);
}
footer .container .links li:hover a {
    transform: translateX(10px);
    color: white;
}
footer .container address {
    font-style: normal;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
footer .container address > div {
    display: flex;
    align-items: center;
}
footer .container address > div i {
    margin-right: 10px;
    font-size: 26px;
    color: var(--main-color, #2196f3);
}
footer .container .images {
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
    gap: 10px;
}
footer .container .images img {
    width: 100%;
    border: 3px solid white;
}
footer > p {
    margin: 50px 0 0;
    padding: 20px;
    text-align: center;
    border-top: 1px solid #444;
}
/* / Footer */
